.summary-items{
    border-left: 1px solid var(--hrColor);
}
.summary-items:nth-of-type(1){
    border-left: 0px solid var(--hrColor);
}
.summary-items > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.summary-items > div > p:nth-of-type(1) {
    font-size: 1rem;
    font-weight: bold;
    color: #095F62;
}
.summary-items > div > p:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.summary-items > div > p:nth-of-type(3) {
    text-transform: uppercase;
    color: darkgray;
    font-size: 0.75rem;
}
.summary-items > div > p:nth-of-type(4) {
    border-bottom: 1px solid var(--hrColor);
}
.summary-items > div > p:nth-of-type(2) img{
    width: 50%;
}