:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #4caefe 0%, #226fae 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #ef5757;
  --location: #be58b7;
  --schedule: #e1ae4a;
  --bgColor1: #efefef;
  --bgColor2: #e0dddd;
  --blurBg: #a6ddf0;
  --textColor: #000;
  --subHeadingColor: darkgray;
  --tempColor: #095f62;
  --statsColor: #7c7979;
}

.dark {
  --bgColor1: #262424;
  --bgColor2: #191616;
  --blurBg: #296579;
  --cardColor: rgba(124, 124, 137, 0.64);
  --textColor: #fff;
  --subHeadingColor: rgb(17, 17, 17);
  --tempColor: #9ee4e6;
  --statsColor: #e0e5ef;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
body {
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
  overflow: auto;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    var(--bgColor1) 0%,
    var(--bgColor2) 50%
  );
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: var(--blurBg);
  filter: blur(72px);
}
.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  padding: 3% 10%;
  border-radius: 1rem;
}
.form-container {
  background-size: cover;
  z-index: 100;
  border-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  box-shadow: var(--profileShadow);
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.info-container {
  background: var(--cardColor);
  color: var(--textColor);
  box-shadow: var(--profileShadow);
  z-index: 100;
  border-radius: 1rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  position: relative;
  padding: 5%;
}
.info-inner-container {
  display: flex;
  justify-content: space-between;
}
.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.logo {
  font-weight: bold;
  font-size: 1.25rem;
  background: -webkit-linear-gradient(#b7a8a4, #095f62);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.city {
  display: inline-flex;
  color: var(--textColor);
}
.city > svg {
  color: var(--textColor);
  margin-right: 10px;
  height: 20px;
}
.logo,
.city {
  background-color: var(--cardColor);
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
}

.selected-language {
  padding: 5px;
  border: none;
  border-radius: 0.75rem;
  margin-bottom: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
}
.search h2 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  color: #090a14;
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
}
.search hr {
  border-bottom: 3px solid #ffff;
  width: 30%;
}
.search-bar {
  display: flex;
  width: 100%;
  padding: 2% 28%;
}

.search-bar > input {
  background-color: var(--cardColor);
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: none;
  outline: none;
  color: var(--textColor);
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: 'Josefin Sans', sans-serif;
}
.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #a4b7b1, #095f62 100%);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px;
  color: var(--textColor);
  transition: all 0.5s ease;
}
.s-icon:hover {
  cursor: pointer;
  background: linear-gradient(106.23deg, #226fae, #226fae 100%);
  transform: scale(1.05);
}

.sound-toggler {
  width: 2.25rem;
  margin-block-end: 1rem;
  border-radius: 5px;
}

.nodata {
  margin-top: 20px;
  color: darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nodata img {
  max-width: 80%;
}
.summary {
  display: flex;
  /* grid-template-columns: repeat(2, 40%); */
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: var(--cardColor);
  box-shadow: var(--profileShadow);
  border-radius: 1rem;
  margin: 1rem;
}
.summary:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 10px 17px 2px rgba(74, 68, 68, 0.25);
  top: -4px;
  border: 1px solid #cccccc;
}
.title {
  margin-top: 3rem;
}

@media only screen and (max-width: 1024px) {

  .label{
    width: 54px !important;
    height: 31px !important;
  }

  .ball{
    width: 23px !important;
    height: 23px !important;
    border-radius: 43% !important;
  }

  .content {
    display: grid;
    grid-template-columns: 99%;
    gap: 2rem;
    overflow: auto;
    padding: 5%;
    font-size: 1.5rem;
  }
  .content::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  .form-container {
    border-radius: 1rem;
  }
  /* .info-container{
    margin-top: 2rem;
  } */
  .logo {
    font-size: 1.5rem;
  }
  .city {
    font-size: 1.25rem;
  }
  .search h2 {
    font-size: 1.75rem;
  }
  .search-bar {
    display: flex;
    width: 100%;
    padding-bottom: 10%;
  }
  .info-container {
    border-radius: 1rem;
  }
  .nodata {
    font-size: 1.5rem;
  }
  .clouds {
    font-size: 1.45rem;
    width: 55%;
  }
  .des {
    font-size: 1.5rem;
  }
  .more-info {
    font-size: 1.25rem;
    padding-right: 0.25rem;
    border-left: 1px solid var(--hrColor);
    padding-left: 75px;
    padding-right: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .summary {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    align-self: center;
    gap: 1rem;
  }
  .search-bar > input {
    padding: 7%;
    font-size: 1.25rem;
  }
  .s-icon {
    padding: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 1.25rem;
  }
  .city {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .centerTextOnMobile {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    display: grid;
    grid-template-columns: 99%;
    gap: 2rem;
    overflow: auto;
    padding: 5%;
  }
  .content::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  .form-container {
    border-radius: 1rem;
  }
  /* .info-container{
    margin-top: 2rem;
  } */
  .logo {
    font-size: 0.95rem;
  }
  .city {
    font-size: 0.95rem;
  }
  .search h2 {
    font-size: 1rem;

  }
  .search-bar {
    display: flex;
    width: 100%;
    padding-bottom: 10%;
  }
  .info-container {
    border-radius: 1rem;
  }
  .nodata {
    font-size: 0.75rem;
  }
  .clouds {
    font-size: 0.85rem;
    width: 55%;
  }
  .des {
    font-size: 0.65rem;
  }
  .more-info {
    font-size: 0.75rem;
    padding-right: 0.25rem;
    border-left: 1px solid var(--hrColor);
    padding-left: 10px;
    padding-right: 0.5rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .summary {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    align-self: center;
  }
}

/* loader */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* dark and light mode toggle */
.toggle-container {
  padding: 0.5rem;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: rgba(46, 49, 56, 0.51);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 3px;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
