:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #4caefe 0%, #226fae 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #EF5757;
  --location: #be58b7;
  --shedule: #E1AE4A;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  outline: none;
  border: none;
}

.content{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  padding: 3% 10%;
  border-radius: 1rem;


}
.form-container{
  background: url('./asset/main_bg.jpg') no-repeat;
  background-size: cover;
  z-index: 100;
  border-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  box-shadow: var(--profileShadow);
  display: flex;
  flex-direction: column;
  gap: 16rem;
}


.info-container{
  background: var(--cardColor);
  box-shadow: var(--profileShadow);
  z-index: 100;
  border-radius: 1rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.logo{
  font-weight: bold;
  font-size: 1.25rem;
  background: -webkit-linear-gradient(#A4B7B1, #095F62);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.city{
  display: inline-flex;
}
.city > svg{
  margin-right: 10px;
  height: 20px;
}
.logo, .city{
  background-color: var(--cardColor);
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.search h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.search hr{
  border-bottom: 3px solid #ffff;
  width: 30%;
}
.search-bar{
  display: flex;
  width: 100%;
  padding: 0% 28%;
}
.search-bar > input{
  background-color: var(--cardColor);
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: none;
  outline: none;
  color: #ffff;
  font-size: 1rem;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.s-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #A4B7B1, #095F62 100%);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px;
  color: white;
  transition: all 0.5s ease;
}
.s-icon:hover{
  cursor: pointer;
  background: linear-gradient(106.23deg, #226fae, #226fae 100%);
  transform: scale(1.05);
}
.info-container{
  padding-left: 5%;
}
.nodata{
  margin-top: 20px;
  color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary{
  display: flex;
  /* grid-template-columns: repeat(2, 40%); */
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--cardColor);
  box-shadow: var(--profileShadow);
  border-radius: 1rem;
  margin: 1rem;
}